@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f3f4f6;
  border-radius: 8px;
  margin-top: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2c83fb
}
